<div class="list-item">
  <div class="list-item__left">
    <%= link_to "feed_id: #{feed.id}; #{feed.name}", feed_path(feed) %>
    |
    <%= feed.products.count %> products
  </div>
  <div class="list-item__right">
    <%= link_to "Delete", feed_path(feed), method: :delete %>
  </div>
</div>
