<div class="row">
  <div class="feeds">
    <div class="align-box">
      <h2>Feeds</h2>
      <%= render partial: "feed/imports/form" %>
    </div>
    <div class="list">
      <%= render @feeds %>
      <%= will_paginate @feeds %>
    </div>
  </div>
</div>
