<div class="top-bar">
  <div class="row top-bar__content">
    <% if signed_in? %>
      <%= link_to "sign out", sign_out_path, method: :delete, class: "button top-bar__sign-out" %>
    <% end %>
  </div>
</div>
