$top-bar-height: 100px;

@import "top_bar";
@import "sign_in";
@import "forms";
@import "feed/imports";
@import "feeds";
@import "list";
@import "products";
@import "jquery.fancybox";

body {
	margin: 0;
	background-color: #eaedfa;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 30px;
    font-weight: 500;
}

.pad1 {
	padding: 1em 0;
}

.row {
	max-width: 73em;
	padding: 0 1em;
	margin: 0 auto;
}

.button {
	padding: 0.5em 2em;
	background-color: #232C33;
	color: #dadff7;
	font-size: 14px;
	text-decoration: none;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	display: inline-block;
}

.round-button {
	padding: 1.3em;
	border: 1px solid #232C33;
	background-color: transparent;
	border-radius: 50%;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50%;
	margin: 0 5px;
}

.sort-button {
	background-color: transparent;
	color: #A0C1D1;
	font-weight: 600;
}

.sort-button_active {
	color: #5a7d7c;
}

.round-button:hover {
	border: 1px solid #eaedfa;
}

.round-button_view {
	background-image: asset-url("eye.png");
}

.round-button_edit {
	background-image: asset-url("pencil.png");
}

.round-button_delete {
	background-image: asset-url("garbage.png");
}

.pagination {
	padding: 15px 0;
	text-transform: lowercase;
	text-align: center;
}
