$top-bar-height: 100px;

@import "top_bar";
@import "sign_in";
@import "feed/imports";
@import "feeds";
@import "list";

body {
	margin: 0;
	background-color: #DADFF7;
}

.row {
	max-width: 73em;
	padding: 0 1em;
	margin: 0 auto;
}

.button {
	padding: 0.5em 2em;
	background-color: #232C33;
	color: #dadff7;
	font-size: 14px;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

.pagination {
	padding: 15px 0;
}
