.list {
	border-top: 3px solid;
}


.list-item {
	border-radius: 4px;
	min-height: 42px;
	padding: 3px 10px;
	background-color: #A0C1D1;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #dadff7;
}

.list-item__left {
	width: 50%;
}

.list-item__right {
	width: 50%;
	text-align: right;
	color: blue;
}

.list-item_product {
	padding: 20px 10px;
	justify-content: space-between;
}

.list-item__one-third {
	width: 31.333333333%;
	padding: 0 1%;
}

.list-item__one-sixth {
	width: 14.666666666%;
	padding: 0 1%;
}

.list-item_align-right {
	text-align: right;
}

.list-item_align-center {
	text-align: center;
}
