.sign-in-container {
	height: calc(100vh - #{$top-bar-height});
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in {
	background-color: #A0C1D1;
	display: flex;
    flex-direction: column;
    justify-content: center;
	height: 300px;
	width: 300px;
	padding: 20px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 3px 7px 2px rgba(90,125,124,1);
	-moz-box-shadow: 0px 3px 7px 2px rgba(90,125,124,1);
	box-shadow: 0px 3px 7px 2px rgba(90,125,124,1);
}

.sign-in__title {
	font-size: 26px;
	font-weight: 500;
	text-align: center;
	display: block;
	margin-bottom: 20px;
}
