<div>
  <div>title: <%= product.title %></div>
  <div>price: <%= product.price %></div>
  <div>campaign_name: <%= product.campaign_name %></div>
  <%= link_to "Show more", product_path(product) %>
</div>
